* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
    text-align: left;
}

body {
    background: #2155CD;
}

.hidden {
    display: none;
}



/* style start button*/
button {
    font-size: 15px;
    background-color: #0AA1DD;
    color: white;
    margin: 15px 10px;
    display: block;
    border-radius: 10px;
    cursor: pointer;

}

/* style info-box*/
.info-box {
    margin-top: 200px;
    margin-left: 400px;
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    border: solid, 10px, darkblue;
    text-align: center;
}

.info-box .info-title {
    padding: 0 35px;
    font-size: 25px;
    font-weight: bold;

}

#saveResult,
#goBack,
#clearHighscore,
#start-btn,
#quit-btn {

    width: 80px;
    height: 50px;
}

header p {
    background-color: white;
    display: inline-block;
}

#scoreButton {
    position: fixed;
    float: right;
    top: 0px;
    right: 0px;

}

#optionA,
#optionB,
#optionC,
#optionD {
    display: flex;
    flex-direction: column;
}